@import url('./base.css');
@import url('./animation.css');
@import url('../library/myLibrary/myToastr.css');

/*
#####################
     System CSS
#####################
*/

/* #region Config */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: #e1e1e1;
    width: 100%;
    font-family: sans-serif;
    overflow-x: hidden;
}
/* #endregion */

/* #region Global style */
ul,
ol,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
#settingButton {
    border: none;
    background-color: transparent;
    position: absolute;
    font-size: 16px;
    right: 4px;
    top: 4px;
}
/* #endregion */

/* #region MD Document */
    #md-document .lesson-list {
        animation: FadeIn ease-in 1s;
    }
    #md-document .lesson-detail {
        animation: FadeIn ease-in 1s;
    }
    #md-document .md-content {
        padding: 2.5% 5%;
        margin: 12px 0;
        background: #fff;
        box-shadow: 2px 2px 5px #00000022;
    }
    #md-document .md-task-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1% 5%;
        background: #fff;
        box-shadow: 2px 2px 5px #00000022;
    }
    #md-document .md-task-bar nav .breadcrumb {
        margin-bottom: 0;
    }
    /* Style for tag */
    #md-document .md-content h1 {
        font-weight: bold;
        font-size: 32px;
    }
    #md-document .md-content h2 {
        font-size: 24px;
    }
    #md-document .md-content h3 {
        font-size: 18px;
    }
    #md-document .md-content h4 {
        display: block;
        padding: 8px 12px;
        margin-bottom: 0;
        background-color: #0096b4;
        color: #fff;
        font-size: 18px;
    }
    #md-document .md-content blockquote {
        position: relative;
        padding: 12px;
        margin-bottom: 0;
        background: #ebebeb;
        color: #474747;
    }
    #md-document .md-content blockquote::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 5px;
        height: 100%;
        background: rgb(80, 80, 82);
    }
    #md-document .md-content blockquote p {
        margin-bottom: 0;
    }
    #md-document .md-content blockquote em {
        font-size: 12px;
        color:rgb(33, 33, 33);
    }
    #md-document .md-content pre {
        padding: 6px 12px;
        color: #fff;
        background: #4d4d4d;
        border-radius: 4px;
        border: 1px solid #989898;
    }
    #md-document .md-content pre code {
        font-family: 'Courier New', Courier, monospace;
    }
    #md-document .md-content img {
        display: block;
        text-align: center;
        margin: auto;
        max-height: 500px;
        max-width: 75%;
    }
    #md-document .md-content ul, ol {
        margin-left: 2rem;
    }
    #md-document .md-content ul > li {
        list-style-type: disc;
    }
    #md-document .md-content ul li ul > li {
        list-style: circle;
    }
    #md-document .md-content ul li ul li ul > li {
        list-style: square;
    }
    #md-document .md-content ol > li {
        list-style-type: auto;
    }
    #md-document .md-content ol li > ol li {
        list-style-type: lower-alpha;
    }
    #md-document .md-content table{
        margin-bottom: 1rem;
    }
    #md-document .md-content table th,tr td{
        padding: 4px 12px;
        vertical-align: middle;
    }
    #md-document .md-content table thead {
        background: #000;
        border-bottom: 3px solid #a3a3a3;
        color: #fff;
    }
    #md-document .md-content table tbody tr:nth-child(odd){
        background: #868686;
    }
    #md-document .md-content table tbody tr:nth-child(even){
        background: #a2a2a2;
    }
    #md-document .md-content table tr td p,
    #md-document .md-content table tr td pre {
        margin: 0;
    }
/* #endregion */

/*
#####################
    Style Layout
#####################
*/

/* #region Page content */
.page-content {
    width: 100vw;
    height: 100vh;
    padding-left: 75px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.page-content .header-bar {
    background: #0c0c0c;
    padding: 12px 24px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 12px;
    position: sticky;
    top: 0;
    z-index: 99;
}
.page-content .header-bar i {
    padding-right: 4px;
}
/* #endregion */

/* #region Menu SideBar */
.menu-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(50px + 24px);
    height: 100vh;
    background: var(--bs-primary);
    z-index: 101;
    animation: FadeIn 1s ease-in;
    transition: 0.5s ease-in;
}
.menu-sidebar:hover {
    width: 250px;
    transition: 0.5s ease-in;
}
.menu-sidebar .wrapper {
    padding: 8px;
}
.menu-sidebar .logo {
    position: absolute;
    width: calc(100% - 24px);
    top: 30px;
    left: 20px;
    white-space: nowrap;
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    overflow: hidden;
}
.menu-sidebar .logo h1 {
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 0;
    cursor: default;
}
.menu-sidebar .logo i {
    padding-right: 12px;
}
.menu-sidebar .menu-field {
    position: absolute;
    top: 300px;
    left: 12px;
    transform: translateY(-50%);
    width: calc(100% - 24px);
}
.menu-sidebar .menu-field .menu-group {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
.menu-sidebar .menu-field .menu-group .menu-item {
    color: #fff;
    padding: 14px 16px;
    margin-bottom: 6px;
    width: 100%;
    overflow: hidden;
    transition: 0.5s;
}
.menu-sidebar .menu-field .menu-group .menu-item:hover {
    cursor: pointer;
    background: #ffffff27;
    border-radius: 4px;
}
.menu-sidebar .menu-field .menu-group .menu-item.active {
    color: var(--bs-primary) !important;
    background: #fff;
    border-radius: 4px;
}
.menu-sidebar .menu-field .menu-group .menu-item a {
    display: block;
    color: inherit;
    white-space: nowrap;
}
.menu-sidebar .menu-field .menu-group .menu-item i {
    padding-right: 36px;
    width: 20px;
    text-align: center;
}
/* #endregion */

/* 
######################
 Letter Practice Page
######################
*/

/* #region Letter Practice */
.box {
    width: 400px;
    border-radius: 4px;
    box-shadow: 3px 3px 2px #000;
    background: #ffffff;
    padding: 12px;
    padding-top: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.box .score {
    text-align: center;
    margin-bottom: 8px;
}
.box .japanese-code h1 {
    text-align: center;
    padding: 8px;
}
.box .japanese-code button {
    display: block;
    margin: auto;
    padding: 2px 8px;
    color: #575757;
    border: 1px solid #acacac;
    border-radius: 4px;
    transition: .5s;
}
.box .japanese-code button:hover {
    background: #fbfbfb;
    border: 1px solid #7b7b7b;
}
.box .japanese-code label {
    display: block;
    color: red;
    text-align: center;
}
.box .warn {
    font-size: 14px;
    display: block;
    text-align: center;
    margin: 4px 0;
    color: #434343;
}
/* #endregion */

/* #region Setting Page */
.box .main-page {
    animation: FadeIn ease-in .5s;
}
.box .setting-page {
    animation: FadeIn ease-in .5s;
}
.setting-page .title {
    margin: 12px 0;
    display: block;
    background-color: var(--bs-cyan);
    padding: 8px;
    border: 2px solid var(--bs-blue);
    border-radius: 8px;
    text-transform: uppercase;
}
.setting-page .sub-title {
    display: block;
    text-align: center;
    font-size: 16px;
    padding-top: 8px;
}
.setting-page .title h2 {
    text-align: center;
    margin: 0;
}
.setting-page .setting-save {
    margin-top: 24px;
}
.setting-page .button-group {
    display: flex;
    justify-content: center;
}
.setting-page .button-group button {
    margin: 2px;
}
.setting-page .button-group button.active {
    background: #0096b4;
}
/* #endregion */

/* #region Language Board */
.language-board {
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(calc(100% - 20px));
    padding-left: 40px;
    background: #cfe2ff;
    width: 35vw;
    height: 100vh;
    transition: 0.5s ease-in;
    z-index: 100;
}
.language-board:hover {
    transform: translateX(0);
}
.language-board .title {
    height: 80px;
    padding: 18px;
    display: flex;
    justify-content: center;
    gap: 10px;
    background: #afc3fa;
    border: 2px solid #4878fb;
    text-align: center;
    margin-bottom: 2px;
}
.language-board .content {
    padding: 4px;
    background: #faffe8;
    border: 2px solid #eeffab;
    height: calc(100vh - 90px);
    overflow-y: scroll;
}
.language-board .content ul {
    display: flex;
    flex-wrap: wrap;
}
.language-board .content ul li {
    width: calc(20% - 2px);
    margin-right: 2px;
    margin-bottom: 2px;
    padding: 2px 0;
    border: 1px solid #c8c8c8;
    text-align: center;
}
.language-board .content ul li h3 {
    margin-bottom: 2px;
    font-weight: bold;
}
.language-board .content ul li p {
    margin-bottom: 4px;
    color: #8b8b8b;
}
/* #endregion */

/*
#####################
     Error Page
#####################
*/

/* #region Error Page */
.page-content .error-box {
    position: absolute;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: FadeIn 1s;
}
.page-content .error-box img {
    width: 100%;
}
.page-content .error-box button {
    padding: 8px 32px;
    display: block;
    margin: auto;
}
/* #endregion */

/*
####################
   Dashboard Page
####################
*/

/* #region Dashboard Page */
.page-content .wrapper .analysis {
    padding: 9px;
    background: #fff;
    border-radius: 12px;
    margin-bottom: 12px;
}
.page-content .wrapper .analysis .analysis-item {
    padding: 12px 24px;
}
.page-content .wrapper .analysis .analysis-item .analysis-element {
    background: var(--bs-secondary);
    border-radius: 12px;
    padding: 12px;
    text-align: center;
    overflow: hidden;
    color: #fff;
}
.page-content .wrapper .analysis .analysis-item .analysis-element i {
    font-size: 32px;
    position: relative;
}
.page-content .wrapper .content .main-content,
.sub-content {
    padding: 12px;
    border-radius: 12px;
}
.page-content .wrapper .content .main-content-element,
.sub-content-element {
    padding: 12px;
    background: #fff;
    border-radius: 12px;
}
/* #endregion */

/*
###################
Grammar Practice Page
###################
*/

/* #region Grammar Practice Page */
.page-content .wrapper #grammar {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 1px 1px 2px #000;
    width: 75%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px;
}
.page-content .wrapper #grammar .game-screen {
    position: relative;
}
.page-content .wrapper #grammar .score {
    position: absolute;
    top: -4px;
    left: 50%;
    transform: translate(-50%, -100%);
    cursor: default;
    padding: 4px 50px;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    font-weight: bold;
    background: #dbdbdb;
}
.page-content .wrapper #grammar .alert{
    text-align: center;
    margin: 48px 0;
}
.page-content .wrapper #grammar .alert > h4{
    font-weight: bold;
}
.page-content .wrapper #grammar .alert > p {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 0;
}
.page-content .wrapper #grammar .alert .error-message {
    color: var(--bs-danger);
    font-style: italic;
    font-weight: lighter;
}
.page-content .wrapper #grammar .space{
    height: 32px;
}
.page-content .wrapper #grammar ul{
    display: flex;
    justify-content: center;
    gap: 8px;
    width: 100%;
    margin-bottom: 32px;
}
.page-content .wrapper #grammar ul li{
    position: relative;
    background: #ecffde;
    box-shadow: 1px 1px 4px #515151;
    min-width: 100px;
    padding: 12px 6px;
    text-align: center;
    border: 2px solid #000;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    animation: FadeIn .25s ease-in;
}
.page-content .wrapper #grammar ul li::after{
    content: "";
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 5px;
    border-radius: 4px 4px 0 0;
    background: var(--bs-secondary);
}
.page-content .wrapper #grammar ul li.dragtemp {
    position: relative;
    border: 2px dotted #000;
    color: transparent;
    animation: Loading infinite 2s ease-in-out;
}
.page-content .wrapper #grammar ul > li.dragtemp::before{
    content: "+";
    color: #000;
    position: absolute;
    font-size: 200%;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.page-content .wrapper #grammar ul li.draging{
    opacity: .25;
}
.page-content .wrapper #grammar .button-group {
    text-align: center;
}
.page-content .wrapper #grammar .button-group > button {
    position: relative;
    background: #323232;
    border: none;
    width: 80px;
    height: 32px;
    margin: 0 4px;
    font-weight: bold;
    color: #fff;
}
.page-content .wrapper #grammar .button-group > button span {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--bs-secondary);
    width: 100%;
    height: 100%;
    transform: translateY(-4px);
    padding: 4px;
    transition: .25s ease-in;
}
.page-content .wrapper #grammar .button-group > button span:hover {
    transition: .25s ease-in;
    transform: translateY(-3px);
}
.page-content .wrapper #grammar .button-group > button span:active {
    transition: .10s ease-in;
    transform: translateY(0);
}
/* #endregion */

/*
###################
    Lesson Page
###################
*/

/* #region Lesson */
.page-content .wrapper .lesson-list {
    background: #fff;
    padding: 2.5% 5%;
    min-height: 85vh;
}
/* #endregion */

/*
###################
   About me Page
###################
*/
/* #region Aboutme Page*/
    .page-content .about-me-box {
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
        width: 768px;
        min-height: 480px;
        background: #fff;
        border-radius: 4px;
        overflow: hidden;
        margin-bottom: 100px;
    }
    .page-content .about-me-avatar {
        position: relative;
        width: 100%;
        height: 300px;
        overflow: hidden;
    }
    .page-content .about-me-avatar img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 32%;
    }
    .page-content .about-me-avatar .title {
        position: absolute;
        right: 5%;
        bottom: 5%;
        text-align: right;
        text-shadow: #000 2px 2px 2px;
        color: #ebebeb;
    }
    .page-content .about-me-avatar .title h1 {
        font-family: sans-serif;
        font-weight: bold;
        font-size: 32px;
        margin-bottom: 0;
    }
    .page-content .about-me-avatar .title span {
        font-family: sans-serif;
        font-weight: bold;
        font-size: 18px;
    }
    .page-content .about-me-content .link-button {
        text-align: center;
        margin: 24px 0;
    }
    .page-content .about-me-content .link-button a {
        padding: 10px 20px;
        background: #541e1e;
        border-radius: 4px;
        color: #fff;
        font-family: sans-serif;
        font-weight: bold;
        border: #634141 solid 2px;
        transition: .5s;
    }
    .page-content .about-me-content .link-button a:hover {
        background: #341313;
    }
    .page-content .about-me-content .contact-me {
        margin: 24px 0;
        text-align: center;
    }
    .page-content .about-me-content .contact-me h2 {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: .75rem;
    }
    .page-content .about-me-content .contact-me ul {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
    .page-content .about-me-content .contact-me ul li{
        padding: 0 8px;
    }
    .page-content .about-me-content .contact-me ul li a {
        font-size: 18px;
        color: #fff;
        padding: 8px;
        border-radius: 100%;
        background: var(--bs-secondary);
    }
    .page-content .about-me-content .contact-me ul li a i {
        width: 20px;
        line-height: 20px;
        text-align: center;
    }
    .page-content .about-me-content .md-content {
        padding: 2% 7.5%;
    }
/* #endregion */

/*
###################
  CUSTOM MONITOR
###################
*/
@media (max-height: 600px) {
    /* #endregion */
    /* #region Letter Practice */
        .box {
            top: 100px;
            transform: translate(-50%);
        }
    /* #endregion */
    /* #region Error */
    .page-content .error-box {
        width: 25%;
        transition: .5s;
    }
    /* #endregion */
}